STRINGTABLE
LANGUAGE 0, 0
{
STR_BUTTON_OK, "ОК"
STR_BUTTON_CANCEL, "Отмена"
STR_CDS_REGCLASS, "Не удалось зарегистрировать класс окна!"
STR_CDS_CREATEWINDOW, "Не удалось создать окно приложения!"
STR_CDS_RMENU, "Не удалось создать меню!"
STR_CDS_DELCONFIG, "Удалить настройки из реестра?"
STR_MNU_ABOUT, "О программе"
STR_MNU_HELP, "Справка"
STR_MNU_INFO, "Информация"
STR_MNU_FIND, "Найти приводы"
STR_MNU_IGNORED, "Игнорируемые"
STR_MNU_CONFIG, "Настройки"
STR_MNU_CLEAR, "Очистить конфигурацию"
STR_MNU_EXIT, "Выход"
STR_MNU_BROWSE, "Открыть"
STR_MNU_EXPLORE, "Проводник"
STR_MNU_AUTORUN, "Автозапуск"
STR_CONF_RUN, "Запуск"
STR_CONF_AUTORUN, "Автозагрузка программы"
STR_CONF_AUTOEXIT, "Выход после автозагрузки"
STR_CONF_HIDE, "Скрывать иконку"
STR_CONF_CLOSEONRUN, "Закрывать лотки приводов"
STR_CONF_TIMER, "Таймер"
STR_CONF_TIMERENABLE, "Включить таймер"
STR_CONF_AUTOCLOSE, "Закрывать лотки через"
STR_CONF_ACTIME, "секунд"
STR_CONF_FORCEREFRESH, "Автообновление содержимого дисков"
STR_CONF_NUMNAMES, "Короткие имена приводов"
STR_CONF_EJECTCLOSE, "Отдельные кнопки извлечь/закрыть"
STR_CONF_TOPNAMES, "Название привода над списком скоростей"
STR_CONF_DEEPMENU, "Подменю для каждого привода"
STR_CONF_ACCESS, "Метод доступа"
STR_CONF_CDAUTOALL, "Автозапуск дисков (все пользователи)"
STR_CONF_CDAUTORUN, "Автозапуск дисков (текущий пользователь)"
STR_CONF_CDAUTOPLAY, "Автовоспроизведение музыки"
STR_CONF_ASPI, "ASPI (Windows 95/98/ME)"
STR_CONF_SPTI, "SPTI (Windows NT - 10)"
STR_CONF_DISABLEASPI, "Отключить ASPI"
STR_CONF_SHOWUNKNOWN, "Показывать неизвестные приводы"
STR_CONF_SYSTEM, "Системные параметры"
STR_CONF_INTERFACE, "Параметры интерфейса"
STR_CONF_RESTART, "Для вступления изменений в силу\nнеобходимо перезапустить сеанс\nWindows."
STR_CONF_DISKNOTIFY, "Выключение"
STR_CONF_DNMESSAGE, "Показывать напоминание"
STR_CONF_DNEJECT, "Извлекать диски"
STR_CONF_DNCLOSE, "Закрывать лотки"
STR_CONF_DNTIMEOUT, "Задержка (секунд):"
STR_CONF_PASSWORD, "Пароль для извлечения диска"
STR_CONF_MISC, "Разное"
STR_CONF_SAVECONFIG, "Сохранять копию настроек в файл"
STR_CONF_ICONDISK, "Изменять цвет иконки при вставке диска"
STR_CONF_ICONOPEN, "Изменять цвет иконки при открытом лотке"
STR_CONF_CMDOPEN, "Показывать команду ""Открыть"""
STR_CONF_CMDEXPLORE, "Показывать команду ""Проводник"""
STR_CONF_CMDAUTORUN, "Показывать команду ""Автозапуск"""
STR_DRIVE_SETTINGS, "Настройки привода"
STR_DRIVE_IGNORE, "Не управлять этим приводом"
STR_DRIVE_RESTSPEED, "Восстанавливать скорость"
STR_DRIVE_ATRUN, "При запуске CDSlow"
STR_DRIVE_ATCHANGE, "При смене диска"
STR_DRIVE_ATRESUME, "При выходе из\nспящего режима"
STR_DRIVE_ATCLOSE, "При закрытии лотка"
STR_DRIVE_WITHDISK, "Только при вставленном\nдиске"
STR_DRIVE_WHENAUDIO, "При воспроизведении\nаудиодисков"
STR_DRIVE_ATTIMER, "По таймеру"
STR_DRIVE_EVERY, " (каждые "
STR_DRIVE_SECONDS, " секунд)"
STR_DRIVE_IGNORESPEED, "Независимо от текущей"
STR_DRIVE_MEDIUMTYPE, "Тип диска"
STR_DRIVE_DETECTSPEED, "Перебор скоростей"
STR_DRIVE_RESCAN, "Быстрый"
STR_DRIVE_RESCANFULL, "Полный"
STR_DRIVE_RESCANREAD, "Измерение"
STR_DRIVE_DVDSPEED, "Метод установки скорости"
STR_DRIVE_DVDAUTO, "Авто"
STR_DRIVE_EDITSPEED, "Список скоростей"
STR_DRIVE_SERVICE, "Сервис"
STR_DRIVE_FORCEREAD, "После установки скорости прочесть данные с диска"
STR_DRIVE_SHORTMENU, "Разбить меню скоростей на группы"
STR_DRIVE_AUTOLOCK, "Запирать лоток при закрытии"
STR_DRIVE_SHORTNAME, "Короткое имя:"
STR_DRIVE_DISKHINT, "Не удалось определить набор доступных скоростей.\n\nВставьте в привод диск и повторите перебор.\nНе рекомендуется использовать диски типа R/RW."
STR_EDIT_TITLE, "Скорость\tКоманда"
STR_EDIT_EDIT, "Скорость"
STR_EDIT_DEL, "Удалить"
STR_EDIT_DELALL, "Удалить все"
STR_EDIT_ADD, "Добавить"
STR_EDIT_X, "x"
STR_EDIT_KBS, "КБ/с"
STR_HKEY_HOTKEYS, "Горячие клавиши"
STR_HKEY_EJECT, "Извлечь диск:"
STR_HKEY_LOAD, "Закрыть лоток:"
STR_HKEY_MAX, "Максимум:"
STR_HKEY_UP, "Быстрее:"
STR_HKEY_SELECTED, "Восстановить:"
STR_HKEY_DOWN, "Медленнее:"
STR_HKEY_MIN, "Минимум:"
STR_PROGRESS_RESCANFAST, "Быстрый перебор"
STR_PROGRESS_RESCANFULL, "Полный перебор"
STR_PROGRESS_RESCANREAD, "Измерение скорости"
STR_ABOUT_VERSION, "CDSlow версия "
STR_ABOUT_LICENSE, "GPL 3+"
STR_ABOUT_C_SIGN, "© "
STR_ABOUT_C_NAME, " Вадим Дружин"
STR_ABOUT_EMAIL, "mailto:cdslow@mail.ru"
STR_ABOUT_URL, "http://cdslow.org.ru/cdslow/"
STR_INFO_SENSE, "Определение типа диска:\t"
STR_INFO_SUPPORTED, "Поддерживается"
STR_INFO_NOTSUP, "Не поддерживается"
STR_INFO_CAPSCD,  "<   CD    >"
STR_INFO_CAPSDVD, "<   DVD   >"
STR_INFO_CAPSBD,  "< Blu-ray >"
STR_INFO_DETECT, "Определение скорости:\t"
STR_INFO_SET, "Установкa скорости:\t"
STR_INFO_SETSPEED, "SET SPEED"
STR_INFO_SETSTREAMING, "SET STREAMING"
STR_INFO_SPEEDLIST, "Скорости: "
STR_ASPI_NOTINIT, "Не выполнена инициализация!"
STR_ASPI_NOTPRESENT, "Поддержка не установлена"
STR_ASPI_BROKEN, "Драйвер поврежден!"
STR_ASPI_OK, "ОК"
STR_SPTI_NOTINIT, "Не выполнена инициализация!"
STR_SPTI_WRONGVERSION, "Не поддерживается этой версией Windows"
STR_SPTI_NODRIVES, "Приводы не найдены!"
STR_SPTI_NOACCESS, "Доступ запрещен!"
STR_SPTI_OK, "ОК"
STR_SCSI_UNKNOWN, "Неизвестная ошибка!"
STR_READ_WRONG, "Вставьте в привод диск с данными или программами.\n\nАудиодиски не подходят. Не рекомендуется\nиспользовать видеодиски и диски типа R/RW."
STR_PASS_QUERY, "Введите пароль"
STR_PASS_NEW, "Новый пароль"
STR_PASS_PASSWORD, "Пароль:"
STR_PASS_AGAIN, "Подтверждение:"
STR_DNOTIFY_DISK, "Вставлен диск!"
STR_DNOTIFY_TRAY, "Лоток открыт!"
STR_DNOTIFY_TIME, "Осталось секунд:"
STR_DNOTIFY_EJECT, "Извлечь"
STR_DNOTIFY_CLOSE, "Закрыть лоток"
STR_TRAY_BUSY, "..."
STR_TRAY_OPEN, "открыт"
STR_TRAY_EMPTY, ""
STR_TRAY_PLAY, "аудио"
STR_TRAY_PAUSE, "пауза"
STR_TRAY_CDROM, "CD-ROM"
STR_TRAY_CDR, "CD-R"
STR_TRAY_CDRW, "CD-RW"
STR_TRAY_CD, "CD"
STR_TRAY_DVDROM, "DVD-ROM"
STR_TRAY_DVDR, "DVD-R"
STR_TRAY_DVDRW, "DVD-RW"
STR_TRAY_DVD, "DVD"
STR_TRAY_BDROM, "BD-ROM"
STR_TRAY_BDR, "BD-R"
STR_TRAY_BDRW, "BD-RE"
STR_TRAY_BD, "Blu-ray"
STR_TRAY_UNKNOWN, "?"
}
