STRINGTABLE
LANGUAGE 0, 0
{
STR_BUTTON_OK, "OK"
STR_BUTTON_CANCEL, "Cancel"
STR_CDS_REGCLASS, "Can't register window class!"
STR_CDS_CREATEWINDOW, "Can't create main window!"
STR_CDS_RMENU, "Can't create menu!"
STR_CDS_DELCONFIG, "Remove all options from registry?"
STR_MNU_ABOUT, "About CDSlow"
STR_MNU_HELP, "Help"
STR_MNU_INFO, "Drive information"
STR_MNU_FIND, "Detect drives"
STR_MNU_IGNORED, "Ignored"
STR_MNU_CONFIG, "Options"
STR_MNU_CLEAR, "Reset configuration"
STR_MNU_EXIT, "Exit"
STR_MNU_BROWSE, "Browse"
STR_MNU_EXPLORE, "Explorer"
STR_MNU_AUTORUN, "Autorun"
STR_CONF_RUN, "Program start"
STR_CONF_AUTORUN, "Start automatically"
STR_CONF_AUTOEXIT, "Restore speed and exit"
STR_CONF_HIDE, "Hide icon"
STR_CONF_CLOSEONRUN, "Close trays"
STR_CONF_TIMER, "Timer"
STR_CONF_TIMERENABLE, "On"
STR_CONF_AUTOCLOSE, "Close tray after"
STR_CONF_ACTIME, "seconds"
STR_CONF_FORCEREFRESH, "Force disk content refresh"
STR_CONF_NUMNAMES, "Use short drive names"
STR_CONF_EJECTCLOSE, "Separate eject/close buttons"
STR_CONF_TOPNAMES, "Drive name above speed list"
STR_CONF_DEEPMENU, "Separate menu for each drive"
STR_CONF_ACCESS, "Drive access method"
STR_CONF_CDAUTOALL, "Enable autorun (all users)"
STR_CONF_CDAUTORUN, "Enable autorun (this user)"
STR_CONF_CDAUTOPLAY, "Enable audio autoplay"
STR_CONF_ASPI, "ASPI (Windows 95/98/ME)"
STR_CONF_SPTI, "SPTI (Windows NT - 10)"
STR_CONF_DISABLEASPI, "Disable ASPI"
STR_CONF_SHOWUNKNOWN, "Show unknown drives"
STR_CONF_SYSTEM, "System settings"
STR_CONF_INTERFACE, "Interface settings"
STR_CONF_RESTART, "You must restart Windows session to apply changes."
STR_CONF_DISKNOTIFY, "Shutdown"
STR_CONF_DNMESSAGE, "Show reminder"
STR_CONF_DNEJECT, "Eject disks"
STR_CONF_DNCLOSE, "Close trays"
STR_CONF_DNTIMEOUT, "Delay (seconds):"
STR_CONF_PASSWORD, "Eject password"
STR_CONF_MISC, "Other"
STR_CONF_SAVECONFIG, "Save settings to file"
STR_CONF_ICONDISK, "Indicate disk status with icon color"
STR_CONF_ICONOPEN, "Indicate tray status with icon color"
STR_CONF_CMDOPEN, "Show ""Browse"" command"
STR_CONF_CMDEXPLORE, "Show ""Explorer"" command"
STR_CONF_CMDAUTORUN, "Show ""Autorun"" command"
STR_DRIVE_SETTINGS, "Drive options"
STR_DRIVE_IGNORE, "Ignore this drive"
STR_DRIVE_RESTSPEED, "Restore speed"
STR_DRIVE_ATRUN, "At program start"
STR_DRIVE_ATCHANGE, "On disk change"
STR_DRIVE_ATRESUME, "At system resume"
STR_DRIVE_ATCLOSE, "On tray close"
STR_DRIVE_WITHDISK, "Only when disk present"
STR_DRIVE_WHENAUDIO, "When playing audio"
STR_DRIVE_ATTIMER, "By timer"
STR_DRIVE_EVERY, " (every "
STR_DRIVE_SECONDS, " seconds)"
STR_DRIVE_IGNORESPEED, "Ignore current speed"
STR_DRIVE_MEDIUMTYPE, "Medium type"
STR_DRIVE_DETECTSPEED, "Detect speeds"
STR_DRIVE_RESCAN, "Fast"
STR_DRIVE_RESCANFULL, "Full"
STR_DRIVE_RESCANREAD, "Measure"
STR_DRIVE_DVDSPEED, "Speed control method"
STR_DRIVE_DVDAUTO, "Auto detect"
STR_DRIVE_EDITSPEED, "Speed list"
STR_DRIVE_SERVICE, "Service"
STR_DRIVE_FORCEREAD, "Read data from disk after speed is set"
STR_DRIVE_SHORTMENU, "Divide speed menu into groups"
STR_DRIVE_AUTOLOCK, "Lock tray"
STR_DRIVE_SHORTNAME, "Short name:"
STR_DRIVE_DISKHINT, "Speed detection failed.\n\nPlease insert disk in drive and try again.\nThe use of R/RW disks is not recommended."
STR_EDIT_TITLE, "Speed\tCommand"
STR_EDIT_EDIT, "Speed"
STR_EDIT_DEL, "Delete"
STR_EDIT_DELALL, "Delete all"
STR_EDIT_ADD, "Add"
STR_EDIT_X, "x"
STR_EDIT_KBS, "KB/s"
STR_HKEY_HOTKEYS, "Hot keys"
STR_HKEY_EJECT, "Eject:"
STR_HKEY_LOAD, "Close:"
STR_HKEY_MAX, "Max speed:"
STR_HKEY_UP, "Faster:"
STR_HKEY_SELECTED, "Restore:"
STR_HKEY_DOWN, "Slower:"
STR_HKEY_MIN, "Min speed:"
STR_PROGRESS_RESCANFAST, "Fast scan"
STR_PROGRESS_RESCANFULL, "Full scan"
STR_PROGRESS_RESCANREAD, "Measure"
STR_ABOUT_VERSION, "CDSlow version "
STR_ABOUT_LICENSE, "GPL 3+"
STR_ABOUT_C_SIGN, "© "
STR_ABOUT_C_NAME, " Vadim Druzhin"
STR_ABOUT_EMAIL, "mailto:cdslow@mail.ru"
STR_ABOUT_URL, "http://cdslow.org.ru/en/cdslow/"
STR_INFO_SENSE, "Medium sense:\t"
STR_INFO_SUPPORTED, "Supported"
STR_INFO_NOTSUP, "Not supported"
STR_INFO_CAPSCD,  "<   CD    >"
STR_INFO_CAPSDVD, "<   DVD   >"
STR_INFO_CAPSBD,  "< Blu-ray >"
STR_INFO_DETECT, "Speed detection:\t"
STR_INFO_SET, "Speed control:\t"
STR_INFO_SETSPEED, "SET SPEED"
STR_INFO_SETSTREAMING, "SET STREAMING"
STR_INFO_SPEEDLIST, "Speed list: "
STR_ASPI_NOTINIT, "Not initialized!"
STR_ASPI_NOTPRESENT, "Not installed"
STR_ASPI_BROKEN, "Driver is broken!"
STR_ASPI_OK, "OK"
STR_SPTI_NOTINIT, "Not initialized!"
STR_SPTI_WRONGVERSION, "Not supported in this Windows version"
STR_SPTI_NODRIVES, "No drives found!"
STR_SPTI_NOACCESS, "Access denied!"
STR_SPTI_OK, "OK"
STR_SCSI_UNKNOWN, "Unknown error!"
STR_READ_WRONG, "Please insert DATA or PROGRAM disk.\n\nDon't use CD-AUDIO. The use of VIDEO\nand R/RW type disks is not recommended."
STR_PASS_QUERY, "Enter password"
STR_PASS_NEW, "New password"
STR_PASS_PASSWORD, "Password:"
STR_PASS_AGAIN, "Verify:"
STR_DNOTIFY_DISK, "Disk inserted!"
STR_DNOTIFY_TRAY, "Tray opened!"
STR_DNOTIFY_TIME, "Time left:"
STR_DNOTIFY_EJECT, "Eject"
STR_DNOTIFY_CLOSE, "Close tray"
STR_TRAY_BUSY, "..."
STR_TRAY_OPEN, "open"
STR_TRAY_EMPTY, ""
STR_TRAY_PLAY, "audio"
STR_TRAY_PAUSE, "pause"
STR_TRAY_CDROM, "CD-ROM"
STR_TRAY_CDR, "CD-R"
STR_TRAY_CDRW, "CD-RW"
STR_TRAY_CD, "CD"
STR_TRAY_DVDROM, "DVD-ROM"
STR_TRAY_DVDR, "DVD-R"
STR_TRAY_DVDRW, "DVD-RW"
STR_TRAY_DVD, "DVD"
STR_TRAY_BDROM, "BD-ROM"
STR_TRAY_BDR, "BD-R"
STR_TRAY_BDRW, "BD-RE"
STR_TRAY_BD, "Blu-ray"
STR_TRAY_UNKNOWN, "?"
}
